.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
.venv/
renv/library/
renv/staging/
renv/cellar/
cover-letter/
install-latest-github.R
JCGS Revision/
.DS_Store
**/.DS_Store
.RDataTmp*
figures/rough-revisions/
code/rough
reproducibility-review.pdf
figures/R-CMD-check.pdf
figures/minimal-reproduction-eye.pdf
figures/minimal-reproduction-gels.pdf
figures/minimal-reproduction-mnist.pdf
Rplots.pdf
display-cached-results.html
manuscript-drafts/
requirements-python.txt
