.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
renv/library/
renv/staging/
renv/cellar/
appendix/
main/
arxiv-zip-project/
arxiv-zip-project.zip
cover-letter/
statistical-science-manuscript/
clare-arxiv-submission-zip.zip
clare-arxiv-submission-zip/
install-latest-github.R
main.tex
acknowledgements.tex
abstract.tex
supporting-information.tex
JCGS Revision/
.DS_Store
**/.DS_Store
.RDataTmp*
figures/rough-revisions/
code/rough
references.bib
reproducibility-review.pdf
figures/R-CMD-check.pdf
